<html>
  <head>
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/assets/dashboard.css"/>
  </head>
  <body>
    {{ template "context" . }}
    <script type="text/javascript" src="http://localhost:8080/assets/dashboard.js"></script>
  </body>
</html>
